<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVc10Wq9NcWsrH0ZPHI4TM0KnvVNeiDCY</string>
	<key>GCM_SENDER_ID</key>
	<string>641585197024</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cloudTask</string>
	<key>PROJECT_ID</key>
	<string>cloud-task-1b4a3</string>
	<key>STORAGE_BUCKET</key>
	<string>cloud-task-1b4a3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:641585197024:ios:59a6d1430359e2e0ba8585</string>
</dict>
</plist>